@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;}



:root  {

  --bg-dark-color :#0F0E36 ;
  --bg-cyan-color :#4BAEA5 ;
  --bg-text-color :#646cff ;
  --bg-new : #40A3A6;
  

}
@tailwind base;
@tailwind components;
@tailwind utilities;